header{
    position: relative;
    .navbar-brand{
        font-weight: 600;
        line-height: 1.2;
        font-size: 30px;
        color: $black;
    }
    .navbar-toggler-icon{
        margin-top: 10px;
    }
    .navbar-collapse{
        z-index: 1;
        .navbar-nav{
            @include media-breakpoint-down(sm){
                background-color: $black;
                    li{
                        margin-left: 20px;
                        padding: 10px;
                        a{
                            color: $white !important;
                        }
                        .active{
                            color: $theme-color !important;
                            padding: 0 !important;
                        }
                }
            }
        }    
        ul{
            li{
                display: flex;
                align-items: center;
                a{
                    font-size: 12px;
                    font-weight: 500;
                    letter-spacing: 0.6px;
                    text-transform: uppercase;
                    line-height: 40px;
                    transition: all 0.4s ease-in-out;
                    padding: 10px 20px !important; 
                    color: $black;
                    &:hover{
                        color: $theme-color;
                        transition: all 0.4s ease-in-out;
                    }
                    @include media-breakpoint-down(md){
                        font-size: 11px;
                    }
                    @include media-breakpoint-down(sm){
                        font-size: 15px;
                        font-weight: 600;
                        padding: 0 !important;
                    } 
                }
                .active{
                    color: $theme-color;
                    display: inline-block;
                }
            }
        }
    }
}