#register{
    background: url(../images/register-bg.jpg) 50% 0 repeat-y;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    color: $white;
    background-position: 50% 140px;
    padding-top: 10rem;
    padding-bottom: 10rem;
    margin: 80px 0;
    @include media-breakpoint-down(md){
        margin: 40px 0;
    }
    .register-details{
        @include media-breakpoint-down(md){
            margin-bottom: 20px;
        }
        h2{
            font-size: 30px;
            text-transform: uppercase;
            font-weight: 600;
            line-height: 1.1;
            color: $white;
        }
        h2{
            padding-bottom: 12px;
            line-height: 36px;
            font-weight: 500;
            font-size: 24px;
            color: $white;
        }
        p{
            color: #707070;
            font-size: 14px;
            line-height: 24px;
            margin: 0 0 10px;
            font-weight: 400;
        }
    }
    .form-control {
        background: transparent;
        border: 2px solid $white;
        border-radius: 0px;
        color: $white;
        margin-bottom: 16px;
    }
    input {
        height: 45px;
    }
    input[type="submit"] {
        background: #f2545f;
        border-radius: 100px;
        border: none;
        color: $white;
        letter-spacing: 2px;
        height: 50px;
        margin-top: 12px;
        transition: all 0.4s ease-in-out;
    }
    @media (min-width: 992px){
        .col-md-offset-6 {
            margin-left: 50%;
        }   
    }
}