<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <title>ARARAT</title>

    <% include /src/include/styles.ejs %>

</head>

<body>

    <% include /src/include/header.ejs %>

    <section id="hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 hero-details">
                    <h3 class="wow bounceIn animated"
                        style="visibility: visible; animation-delay: 0.9s; animation-name: bounceIn;">New Event
                    </h3>
                    <h1 class="wow fadeInUp animated"
                        style="visibility: visible; animation-delay: 1.6s; animation-name: fadeInUp;">Web Design Conference</h1>
                    <a href="#" class="btn btn-lg btn-default smoothScroll wow fadeInUp hidden-xs animated"
                        style="visibility: visible; animation-delay: 2.3s; animation-name: fadeInUp;">LEARN
                        MORE</a>
                    <a href="#" class="btn btn-lg btn-danger smoothScroll wow fadeInUp animated"
                        style="visibility: visible; animation-delay: 2.3s; animation-name: fadeInUp;">REGISTER NOW</a>
                </div>
            </div>
        </div>
    </section>
    <section id="overview">
        <div class="container">
            <div class="row">
                <div class="wow fadeInUp col-md-6 col-sm-12 animated overview-details"
                    style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                    <h3>New Event is a fully responsive one-page template for events, conferences or workshops.</h3>
                    <p>This is a Bootstrap v3.3.6 layout that is responsive and mobile friendly. You may download and modify this
                        template for your website. Please tell your friends about templatemo.</p>
                    <p>Quisque facilisis scelerisque venenatis. Nam vulputate ultricies luctus. Lorem ipsum dolor sit amet, consectetuer
                        adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
                </div>
                <div class="wow fadeInUp col-md-6 col-sm-12 animated"
                    style="visibility: visible; animation-delay: 0.9s; animation-name: fadeInUp;">
                    <img src="images/overview-img.jpg" class="img-responsive img-fluid" alt="Overview">
                </div>
            </div>
        </div>
    </section>
    <section id="detail">
        <div class="container">
            <div class="row">
                <div class="wow fadeInLeft col-md-4 col-sm-4 animated detail-three"
                    style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                    <i class="fas fa-users"></i>
                    <h3>650 Participants</h3>
                    <p>Quisque ut libero sapien. Integer tellus nisl, efficitur sed dolor at, vehicula finibus massa. Sed tincidunt
                        metus sed eleifend suscipit.</p>
                </div>
                <div class="wow fadeInUp col-md-4 col-sm-4 animated detail-three"
                    style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                    <i class="far fa-clock"></i>
                    <h3>24 Programs</h3>
                    <p>Quisque ut libero sapien. Integer tellus nisl, efficitur sed dolor at, vehicula finibus massa. Sed tincidunt
                        metus sed eleifend suscipit.</p>
                </div>
                <div class="wow fadeInRight col-md-4 col-sm-4 animated detail-three"
                    style="visibility: visible; animation-delay: 0.9s; animation-name: fadeInRight;">
                    <i class="fas fa-microphone"></i>
                    <h3>11 Speakers</h3>
                    <p>Quisque ut libero sapien. Integer tellus nisl, efficitur sed dolor at, vehicula finibus massa. Sed tincidunt
                        metus sed eleifend suscipit.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="video">
        <div class="container">
            <div class="row">
                <div class="wow fadeInUp col-md-6 col-sm-12 animated video-details"
                    style="visibility: visible; animation-delay: 1.3s; animation-name: fadeInUp;">
                    <h2>Watch Video</h2>
                    <h3>Quisque ut libero sapien. Integer tellus nisl, efficitur sed dolor at, vehicula finibus massa. Sed tincidunt
                        metus sed eleifend suscipit.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.
                        Dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet consectetuer diam nonummy.</p>
                </div>
                <div class="wow fadeInUp col-md-6 col-sm-12 animated"
                    style="visibility: visible; animation-delay: 1.6s; animation-name: fadeInUp;">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XDPwXQjAlB0"
                            allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="speakers">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 wow bounceIn animated" style="visibility: visible; animation-name: bounceIn;">
                    <div class="section-title">
                        <h2>Creative Speakers</h2>
                        <p>Lorem ipsum dolor sit amet, maecenas eget vestibulum justo imperdiet.</p>
                    </div>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col-lg-3 col-md-6 col-sm-12 speakers-section">
                    <img src="images/speakers-img2.jpg" class="img-fluid">
                    <div class="speakers-heading">
                        <h3>Jenny Green</h3>
                        <h6>UI Designer</h6>
                    </div>
                </div>    
                <div class="col-lg-3 col-md-6 col-sm-12 speakers-section">
                    <img src="images/speakers-img3.jpg" class="img-fluid">
                    <div class="speakers-heading">
                        <h3>Jenny Green</h3>
                        <h6>UI Designer</h6>
                    </div>
                </div>   
                <div class="col-lg-3 col-md-6 col-sm-12 speakers-section">
                    <img src="images/speakers-img4.jpg" class="img-fluid">
                    <div class="speakers-heading">
                        <h3>Jenny Green</h3>
                        <h6>UI Designer</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 speakers-section">
                    <img src="images/speakers-img5.jpg" class="img-fluid">
                    <div class="speakers-heading">
                        <h3>Jenny Green</h3>
                        <h6>UI Designer</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="program">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 wow bounceIn animated" style="visibility: visible; animation-name: bounceIn;">
                    <div class="section-title">
                        <h2>Our Programs</h2>
                        <p>Quisque ut libero sapien. Integer tellus nisl, efficitur sed dolor at, vehicula finibus massa. Sed tincidunt metus sed
                        eleifend suscipit.</p>
                    </div>
                </div>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                            aria-selected="true">FIRST DAY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                            aria-selected="false">SECOND DAY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                            aria-selected="false">THIRD DAY</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div role="tabpanel" class="tab-pane active" id="fday">
                            <!-- program speaker here -->
                            <div class="d-flex">
                                <div class="col-md-2 col-sm-2">
                                    <img src="images/program-img1.jpg" class="img-responsive" alt="program">
                                </div>
                                <div class="col-md-10 col-sm-10">
                                    <h6>
                                        <span><i class="fa fa-clock-o"></i> 09.00 AM</span>
                                        <span><i class="fa fa-map-marker"></i> Room 240</span>
                                    </h6>
                                    <h3>Introduction to Design</h3>
                                    <h4>By Jenny Green</h4>
                                    <p>Maecenas accumsan metus turpis, eu faucibus ligula interdum in. Mauris at tincidunt felis, vitae aliquam
                                        magna. Sed aliquam fringilla vestibulum.</p>
                                </div>
                            </div>
                            <!-- program divider -->
                            <div class="program-divider col-md-12 col-sm-12"></div>
                        
                            <!-- program speaker here -->
                            <div class="d-flex">
                                <div class="col-md-2 col-sm-2">
                                    <img src="images/program-img2.jpg" class="img-responsive" alt="program">
                                </div>
                                <div class="col-md-10 col-sm-10">
                                    <h6>
                                        <span><i class="fa fa-clock-o"></i> 10.00 AM</span>
                                        <span><i class="fa fa-map-marker"></i> Room 360</span>
                                    </h6>
                                    <h3>Front-End Development</h3>
                                    <h4>By Johnathan Mark</h4>
                                    <p>Mauris at tincidunt felis, vitae aliquam magna. Sed aliquam fringilla vestibulum. Praesent ullamcorper mauris
                                        fermentum turpis scelerisque rutrum eget eget turpis.</p>
                                </div>
                            </div>    
                            <!-- program divider -->
                            <div class="program-divider col-md-12 col-sm-12"></div>
                        
                            <!-- program speaker here -->
                            <div class="d-flex">
                                <div class="col-md-2 col-sm-2">
                                    <img src="images/program-img3.jpg" class="img-responsive" alt="program">
                                </div>
                                <div class="col-md-10 col-sm-10">
                                    <h6>
                                        <span><i class="fa fa-clock-o"></i> 11.00 AM</span>
                                        <span><i class="fa fa-map-marker"></i> Room 450</span>
                                    </h6>
                                    <h3>Social Media Marketing</h3>
                                    <h4>By Johnathan Doe</h4>
                                    <p>Nam pulvinar, elit vitae rhoncus pretium, massa urna bibendum ex, aliquam efficitur lorem odio vitae erat.
                                        Integer rutrum viverra magna, nec ultrices risus rutrum nec.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="contact-tab">
                        <div role="tabpanel" class="tab-pane active" id="fday">
                            <!-- program speaker here -->
                            <div class="d-flex">
                                <div class="col-md-2 col-sm-2">
                                    <img src="images/program-img4.jpg" class="img-responsive" alt="program">
                                </div>
                                <div class="col-md-10 col-sm-10">
                                    <h6>
                                        <span><i class="fa fa-clock-o"></i> 11.00 AM</span>
                                        <span><i class="fa fa-map-marker"></i> Room 240</span>
                                    </h6>
                                    <h3>Backend Development</h3>
                                    <h4>By Matt Lee</h4>
                                    <p>Integer rutrum viverra magna, nec ultrices risus rutrum nec. Pellentesque interdum vel nisi nec tincidunt. Quisque
                                    facilisis scelerisque venenatis. Nam vulputate ultricies luctus.</p>
                                </div>
                            </div>
                            <!-- program divider -->
                            <div class="program-divider col-md-12 col-sm-12"></div>
                        
                            <!-- program speaker here -->
                            <div class="d-flex">
                                <div class="col-md-2 col-sm-2">
                                    <img src="images/program-img5.jpg" class="img-responsive" alt="program">
                                </div>
                                <div class="col-md-10 col-sm-10">
                                    <h6>
                                        <span><i class="fa fa-clock-o"></i> 01.00 PM</span>
                                        <span><i class="fa fa-map-marker"></i> Room 450</span>
                                    </h6>
                                    <h3>Web Application Lite</h3>
                                    <h4>By David Orlando</h4>
                                    <p>Aliquam faucibus lobortis dolor, id pellentesque eros pretium in. Aenean in erat ut quam aliquet commodo. Vivamus
                                    aliquam pulvinar ipsum ut sollicitudin. Suspendisse quis sollicitudin mauris.</p>
                                </div>
                            </div>
                            <!-- program divider -->
                            <div class="program-divider col-md-12 col-sm-12"></div>
                        
                            <!-- program speaker here -->
                            <div class="d-flex">
                                <div class="col-md-2 col-sm-2">
                                    <img src="images/program-img6.jpg" class="img-responsive" alt="program">
                                </div>
                                <div class="col-md-10 col-sm-10">
                                    <h6>
                                        <span><i class="fa fa-clock-o"></i> 03.00 PM</span>
                                        <span><i class="fa fa-map-marker"></i> Room 650</span>
                                    </h6>
                                    <h3>Professional UX Design</h3>
                                    <h4>By James Lee Mark</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore
                                    magna aliquam erat volutpat.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="profile-tab">
                        <div role="tabpanel" class="tab-pane active" id="fday">
                            <!-- program speaker here -->
                            <div class="d-flex">
                                <div class="col-md-2 col-sm-2">
                                    <img src="images/program-img7.jpg" class="img-responsive" alt="program">
                                </div>
                                <div class="col-md-10 col-sm-10">
                                    <h6>
                                        <span><i class="fa fa-clock-o"></i> 03.00 PM</span>
                                        <span><i class="fa fa-map-marker"></i> Room 750</span>
                                    </h6>
                                    <h3>Online Shopping Business</h3>
                                    <h4>By Michael Walker</h4>
                                    <p>Aliquam faucibus lobortis dolor, id pellentesque eros pretium in. Aenean in erat ut quam aliquet commodo. Vivamus
                                    aliquam pulvinar ipsum ut sollicitudin. Suspendisse quis sollicitudin mauris.</p>
                                </div>
                            </div>
                            <!-- program divider -->
                            <div class="program-divider col-md-12 col-sm-12"></div>
                    
                            <!-- program speaker here -->
                            <div class="d-flex">
                                <div class="col-md-2 col-sm-2">
                                    <img src="images/program-img8.jpg" class="img-responsive" alt="program">
                                </div>
                                <div class="col-md-10 col-sm-10">
                                    <h6>
                                        <span><i class="fa fa-clock-o"></i> 05.00 PM</span>
                                        <span><i class="fa fa-map-marker"></i> Room 850</span>
                                    </h6>
                                    <h3>Introduction to Mobile App</h3>
                                    <h4>By Cherry Stella</h4>
                                    <p>Nunc eu nibh vel augue mollis tincidunt id efficitur tortor. Sed pulvinar est sit amet tellus iaculis hendrerit. Mauris
                                    justo erat, rhoncus in arcu at, scelerisque tempor erat.</p>
                                </div>
                            </div>
                            <!-- program divider -->
                            <div class="program-divider col-md-12 col-sm-12"></div>
                    
                            <!-- program speaker here -->
                            <div class="d-flex">
                                <div class="col-md-2 col-sm-2">
                                    <img src="images/program-img9.jpg" class="img-responsive" alt="program">
                                </div>
                                <div class="col-md-10 col-sm-10">
                                    <h6>
                                        <span><i class="fa fa-clock-o"></i> 07.00 PM</span>
                                        <span><i class="fa fa-map-marker"></i> Room 750</span>
                                    </h6>
                                    <h3>Bootstrap UI Design</h3>
                                    <h4>By John David</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore
                                    magna aliquam erat volutpat.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="register">
        <div class="container">
            <div class="row">
                <div class="wow fadeInUp col-md-7 col-sm-12 animated register-details"
                    style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                    <h2>Register Here</h2>
                    <h3>Nunc eu nibh vel augue mollis tincidunt id efficitur tortor. Sed pulvinar est sit amet tellus iaculis hendrerit.
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.
                        Dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet consectetuer diam nonummy.</p>
                </div>
                <div class="wow fadeInUp col-md-5 col-sm-12 animated"
                    style="visibility: visible; animation-delay: 1s; animation-name: fadeInUp;">
                    <form action="#" method="post">
                        <input name="firstname" type="text" class="form-control" id="firstname" placeholder="First Name">
                        <input name="lastname" type="text" class="form-control" id="lastname" placeholder="Last Name">
                        <input name="phone" type="telephone" class="form-control" id="phone" placeholder="Phone Number">
                        <input name="email" type="email" class="form-control" id="email" placeholder="Email Address">
                        <div class="col-md-offset-6 col-md-6 col-sm-offset-1 col-sm-10">
                            <input name="submit" type="submit" class="form-control" id="submit" value="REGISTER">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section id="faq">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 wow bounceIn animated" style="visibility: visible; animation-name: bounceIn;">
                    <div class="section-title text-center">
                        <h2>DO YOU HAVE QUESTIONS?</h2>
                        <p>Lorem ipsum dolor sit amet, maecenas eget vestibulum justo imperdiet.</p>
                    </div>
                </div>
            </div>
            <div class="row pt-4">
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                    aria-controls="collapseOne">
                                    What is Responsive Design?
                                </button>
                            </h5>
                        </div>
                
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, maecenas eget vestibulum justo imperdiet, wisi risus purus augue vulputate voluptate neque,
                                curabitur dolor libero sodales vitae elit massa. Lorem ipsum dolor sit amet, maecenas eget vestibulum justo imperdiet.
                                
                                Nunc eu nibh vel augue mollis tincidunt id efficitur tortor. Sed pulvinar est sit amet tellus iaculis hendrerit. Mauris
                                justo erat, rhoncus in arcu at, scelerisque tempor erat.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                    What are latest UX Developments?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                Nunc eu nibh vel augue mollis tincidunt id efficitur tortor. Sed pulvinar est sit amet tellus iaculis hendrerit. Mauris
                                justo erat, rhoncus in arcu at, scelerisque tempor erat.
                                
                                Lorem ipsum dolor sit amet, maecenas eget vestibulum justo imperdiet, wisi risus purus augue vulputate voluptate neque,
                                curabitur dolor libero sodales vitae elit massa. Lorem ipsum dolor sit amet, maecenas eget vestibulum justo imperdiet.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                                    aria-expanded="false" aria-controls="collapseThree">
                                    What things about Social Media will be discussed?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                Aenean vulputate finibus justo et feugiat. Ut turpis lacus, dapibus quis justo id, porttitor tempor justo. Quisque ut
                                libero sapien. Integer tellus nisl, efficitur sed dolor at, vehicula finibus massa.
                                
                                Lorem ipsum dolor sit amet, maecenas eget vestibulum justo imperdiet, wisi risus purus augue vulputate voluptate neque,
                                curabitur dolor libero sodales vitae elit massa. Lorem ipsum dolor sit amet, maecenas eget vestibulum justo imperdiet.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </section>
    <section id="venue">
        <div class="container">
            <div class="row">
                <div class="wow fadeInLeft venue-details col-md-offset-1 col-md-5 col-sm-8 animated" data-wow-delay="0.9s"
                    style="visibility: visible; animation-delay: 0.9s; animation-name: fadeInLeft;">
                    <h2>Venue</h2>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.
                        Dolore magna aliquam erat volutpat.</p>
                    <h4>New Event</h4>
                    <h4>120 Market Street, Suite 110</h4>
                    <h4>San Francisco, CA 10110</h4>
                    <h4>Tel: 010-020-0120</h4>
                </div>
            </div>
        </div>
    </section>
    <section id="sponsors">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 wow bounceIn animated" style="visibility: visible; animation-name: bounceIn;">
                    <div class="section-title text-center">
                        <h2>DO YOU HAVE QUESTIONS?</h2>
                        <p>Lorem ipsum dolor sit amet, maecenas eget vestibulum justo imperdiet.</p>
                    </div>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col-lg-3 col-md-3 col-sm-6 col-12 wow fadeInUp animated space" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <img src="images/sponsor-img1.jpg" class="img-responsive img-fluid" alt="sponsors">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12 wow fadeInUp animated space" data-wow-delay="0.3s"
                    style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <img src="images/sponsor-img2.jpg" class="img-responsive img-fluid" alt="sponsors">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12 wow fadeInUp animated space" data-wow-delay="0.3s"
                    style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <img src="images/sponsor-img3.jpg" class="img-responsive img-fluid" alt="sponsors">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12 wow fadeInUp animated space" data-wow-delay="0.3s"
                    style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <img src="images/sponsor-img4.jpg" class="img-responsive img-fluid" alt="sponsors">
                </div>
            </div>
        </div>
    </section>
    <section id="contact-us">
        <div class="container">
            <div class="row">
                <div class="wow fadeInUp col-md-6 col-sm-12 animated contact-us-space"
                    style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                    <div class="contact_des">
                        <h3>New Event</h3>
                        <p>Proin sodales convallis urna eu condimentum. Morbi tincidunt augue eros, vitae pretium mi condimentum eget.
                            Suspendisse eu turpis sed elit pretium congue.</p>
                        <p>Mauris at tincidunt felis, vitae aliquam magna. Sed aliquam fringilla vestibulum. Praesent ullamcorper mauris
                            fermentum turpis scelerisque rutrum eget eget turpis.</p>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.
                            Dolore magna aliquam erat volutpat. Lorem ipsum dolor.</p>
                        <a href="#" class="btn btn-danger">DOWNLOAD NOW</a>
                    </div>
                </div>
                <div class="wow fadeInUp col-md-6 col-sm-12 animated m-auto"
                    style="visibility: visible; animation-delay: 0.9s; animation-name: fadeInUp;">
                    <div class="contact_detail">
                        <div class="section-title">
                            <h2>Keep in touch</h2>
                        </div>
                        <form action="#" method="post">
                            <input name="name" type="text" class="form-control" id="name" placeholder="Name">
                            <input name="email" type="email" class="form-control" id="email" placeholder="Email">
                            <textarea name="message" rows="5" class="form-control" id="message" placeholder="Message"></textarea>
                            <div class="col-md-6 col-sm-10">
                                <input name="submit" type="submit" class="form-control" id="submit" value="SEND">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <% include /src/include/footer.ejs %>
    <% include /src/include/scripts.ejs %>
    <script>
        
    </script>
</body>

</html>